@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[12px] border-[1px] border-neutral-800 bg-black/40 backdrop-blur-lg;
}

.followbar-users_scrollbar::-webkit-scrollbar {
  width: 6px;
}

.followbar-users_scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-[12px] bg-black/40 p-10 backdrop-blur-lg;
}

.not-scrollable {
  @apply overflow-y-hidden;
}

:root {
  @apply h-full bg-black;
}

html {
  @apply overflow-x-hidden;
}

.app {
  @apply w-full flex-1 md:max-w-[600px] md:border-x-[1px] md:border-neutral-800;
}

.paddings {
  @apply px-1 py-2 lg:px-4 lg:py-4;
}

.modal_overlay-center {
  @apply fixed left-0 top-0 z-[999] flex h-screen w-screen items-center justify-center bg-slate-600/40;
}

.modal_overlay-topCenter {
  @apply fixed left-0 z-[999] flex h-screen w-screen justify-center bg-slate-600/40;
}

.modal_wrapper {
  @apply relative h-screen w-screen bg-black md:h-fit md:max-h-[560px] md:w-full md:max-w-xl md:rounded-xl;
}

.modal_body {
  @apply px-10 pt-8 md:pt-0;
}
.modal_footer {
  @apply my-8 px-10;
}

.image-container {
  @apply relative;
}
